<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <system.web>
    <customErrors mode="off" />
    <httpRuntime maxQueryStringLength="2097151" maxUrlLength="2097151" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <iisnode debuggingEnabled="false" devErrorsEnabled="false" logDirectory="logs" loggingEnabled="true" node_env="production" nodeProcessCommandLine="D:\node.exe" nodeProcessCountPerApplication="0" promoteServerVars="HTTPS,REMOTE_ADDR" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <httpErrors existingResponse="PassThrough" />
    <rewrite>
      <rules>
        <clear />
        <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode.+" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <ipSecurity allowUnlisted="false">
        <add allowed="true" ipAddress="x.x.x.x" />
      </ipSecurity>
      <requestFiltering>
        <requestLimits maxQueryString="2097151" maxUrl="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>