<configuration>
  <system.webServer>
    <httpCompression>
      <dynamicTypes>
        <add enabled="true" mimeType="application/json"/>
      </dynamicTypes>
      <staticTypes>
        <add enabled="true" mimeType="application/json"/>
      </staticTypes>
    </httpCompression>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <defaultDocument>
        <files>
            <add value="server.js" />
        </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <!--<rule name="Static Assets" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
          <action type="Rewrite" url="client/build/{R:1}"/>
        </rule>-->

        <rule name="Index" stopProcessing="false">
          <match url="^$" />
          <action type="Rewrite" url="index.html"/>
        </rule>

        <!--<rule name="API">      Not Helping!!!!!!!!
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>-->
      </rules>
    </rewrite>

  </system.webServer>
</configuration>